{% extends "base.html" %}

{% block title %}
IDDS | Integrated Digital Dining System
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">

        <div class="reveal">

            <p>INTEGRATED DIGITAL DINING SYSTEM</p>

            <h1>
                A smarter way<br>
                to experience dining.
            </h1>

            <p>
                From the moment you enter the restaurant
                to the moment your dining experience ends,
                everything works together.
            </p>

            <a href="#" class="btn btn-primary">
                Discover the Experience
            </a>

        </div>

    </div>
</section>

{% endblock %}